@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Author: @ViewData["Author"]</p>

<address>
    <strong>More information: </strong><a href="mailto:edinardofreitas@gmail.com">Contact</a>
</address>
